## Objective is to predict the Claim_Amount using the machine learning model in pyspark.

### Update Path with SPARK_HOME and PYLIB environment variables

In [1]:
import os
import sys
os.environ["SPARK_HOME"] = "/usr/hdp/current/spark2-client"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] + "/py4j-0.10.4-src.zip")
sys.path.insert(0, os.environ["PYLIB"] + "/pyspark.zip")

### Initialize Spark

In [2]:
from pyspark.conf import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

conf = SparkConf().setAppName("Application Name").setMaster("local")
sc = SparkContext(conf=conf)
spark = SparkSession(sc)

### Load all dependent libararies here

In [3]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.ml.feature import *
from pyspark.ml import Pipeline
from pyspark.ml import regression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
import pandas as pd

## Read & Understand the Data

### Defining Schema to given data

### Create a dataframe for given data

In [4]:
inputData = spark.read.format("csv")\
            .option("header", "true")\
            .option("inferSchema", "true")\
            .option("ignoreTrailingWhiteSpace", "true")\
            .option("ignoreLeadingWhiteSpace", "true")\
            .option("quote", '"')\
            .load("file:///home/1843B39/CUTe_7322c/sample_set.csv")

In [5]:
inputData.printSchema()

root
 |-- Row_ID: integer (nullable = true)
 |-- Household_ID: integer (nullable = true)
 |-- Vehicle: integer (nullable = true)
 |-- Calendar_Year: integer (nullable = true)
 |-- Model_Year: integer (nullable = true)
 |-- Blind_Make: string (nullable = true)
 |-- Blind_Model: string (nullable = true)
 |-- Blind_Submodel: string (nullable = true)
 |-- Cat1: string (nullable = true)
 |-- Cat2: string (nullable = true)
 |-- Cat3: string (nullable = true)
 |-- Cat4: string (nullable = true)
 |-- Cat5: string (nullable = true)
 |-- Cat6: string (nullable = true)
 |-- Cat7: string (nullable = true)
 |-- Cat8: string (nullable = true)
 |-- Cat9: string (nullable = true)
 |-- Cat10: string (nullable = true)
 |-- Cat11: string (nullable = true)
 |-- Cat12: string (nullable = true)
 |-- OrdCat: string (nullable = true)
 |-- Var1: double (nullable = true)
 |-- Var2: double (nullable = true)
 |-- Var3: double (nullable = true)
 |-- Var4: double (nullable = true)
 |-- Var5: double (nullable = true)
 |-- Var6: double (nullable = true)
 |-- Var7: double (nullable = true)
 |-- Var8: double (nullable = true)
 |-- NVCat: string (nullable = true)
 |-- NVVar1: double (nullable = true)
 |-- NVVar2: double (nullable = true)
 |-- NVVar3: double (nullable = true)
 |-- NVVar4: double (nullable = true)
 |-- Claim_Amount: double (nullable = true)

### Verify summary of the dataframe (how many rows and columns)

In [6]:
inputData.toPandas().describe(include = "all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Row_ID,1e+06,NaN,NaN,NaN,6.58319e+06,3.80667e+06,1,3.28308e+06,6.58203e+06,9.87529e+06,1.31842e+07
Household_ID,1e+06,NaN,NaN,NaN,4.12283e+06,2.24924e+06,1,2.18065e+06,4.25385e+06,6.2776e+06,7.54206e+06
Vehicle,1e+06,NaN,NaN,NaN,1.89136,1.17046,1,1,2,2,24
Calendar_Year,1e+06,NaN,NaN,NaN,2006.05,0.812612,2005,2005,2006,2007,2007
Model_Year,1e+06,NaN,NaN,NaN,1999.31,5.20987,1981,1996,2000,2003,2008
Blind_Make,1000000,72,K,125618,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blind_Model,1000000,1206,K.7,45232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blind_Submodel,1000000,2512,K.7.3,12606,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat1,1000000,11,B,304921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat2,1000000,4,C,447076,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat3,1000000,7,A,567904,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat4,1000000,4,A,434501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat5,1000000,4,A,507663,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat6,1000000,6,B,323624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat7,1000000,5,?,543322,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat8,1000000,4,A,653820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat9,1000000,2,B,822843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat10,1000000,4,A,649132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat11,1000000,7,A,527959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cat12,997866,6,B,330030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OrdCat,1000000,8,4,450591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Var1,1e+06,NaN,NaN,NaN,-0.0103724,0.97894,-2.57822,-0.665897,-0.312358,0.44293,5.14339
Var2,1e+06,NaN,NaN,NaN,-0.0658064,0.967463,-2.49339,-0.816152,-0.124506,0.480684,7.43172
Var3,1e+06,NaN,NaN,NaN,-0.0260144,1.0181,-2.79034,-0.869687,-0.221758,0.726996,5.56333
Var4,1e+06,NaN,NaN,NaN,-0.0556501,0.966923,-2.50822,-0.783019,-0.106471,0.485509,7.20025
Var5,1e+06,NaN,NaN,NaN,0.00396864,0.989939,-3.35034,-0.686024,-0.115098,0.533141,4.00627
Var6,1e+06,NaN,NaN,NaN,-0.0409119,0.978466,-2.37666,-0.688765,-0.237257,0.497321,4.58429
Var7,1e+06,NaN,NaN,NaN,-0.0256219,1.00583,-2.77849,-0.898486,-0.480707,0.82178,4.12715
Var8,1e+06,NaN,NaN,NaN,-0.0585336,1.0018,-1.96515,-0.651768,-0.257404,0.34098,47.3507
NVCat,1000000,15,M,437376,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NVVar1,1e+06,NaN,NaN,NaN,0.0165768,1.03584,-0.23153,-0.23153,-0.23153,-0.23153,6.62711
NVVar2,1e+06,NaN,NaN,NaN,0.0180772,1.04014,-0.266117,-0.266117,-0.266117,-0.266117,8.88308
NVVar3,1e+06,NaN,NaN,NaN,0.0129784,1.02433,-0.272337,-0.272337,-0.272337,-0.272337,8.69114
NVVar4,1e+06,NaN,NaN,NaN,0.0178499,1.03332,-0.251419,-0.251419,-0.251419,-0.251419,6.3888
Claim_Amount,1e+06,NaN,NaN,NaN,1.33201,38.2104,0,0,0,0,8045.92

In [7]:
inputData.count(), len(inputData.columns)

(1000000, 35)

In [8]:
inputData.show(5)

+--------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----------+----------+----------+----------+----------+----------+----------+----------+-----+----------+----------+----------+----------+------------+
|  Row_ID|Household_ID|Vehicle|Calendar_Year|Model_Year|Blind_Make|Blind_Model|Blind_Submodel|Cat1|Cat2|Cat3|Cat4|Cat5|Cat6|Cat7|Cat8|Cat9|Cat10|Cat11|Cat12|OrdCat|      Var1|      Var2|      Var3|      Var4|      Var5|      Var6|      Var7|      Var8|NVCat|    NVVar1|    NVVar2|    NVVar3|    NVVar4|Claim_Amount|
+--------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----------+----------+----------+----------+----------+----------+----------+----------+-----+----------+----------+----------+----------+------------+
|11133137|     6690958|      1|         2006|      1992|        BW|      BW.33|       BW.33.1|   D|   ?|   C|   ?|   ?|   E|   ?|   A|   B|    A|    B|    D|     5| 3.4962213|  0.740051| 1.0972409| 1.0774881| 2.7216895| 2.4425492| 1.6081873|-0.1821408|    O|-0.2315299|-0.2661168|-0.2723372|-0.2514189|         0.0|
|12066135|     7022371|      2|         2005|      1995|         M|       M.16|        M.16.1|   B|   ?|   A|   A|   A|   C|   C|   A|   B|    B|    A|    D|     2|-0.7703518|-1.5077976|-1.0316697|-1.5441353|-0.8822796|-1.4771497|-1.2548265|-0.9952642|    M|-0.2315299|-0.2661168|-0.2723372|-0.2514189|         0.0|
| 5738430|     3900158|      2|         2007|      2000|        AJ|      AJ.58|       AJ.58.2|   D|   C|   A|   ?|   ?|   D|   ?|   A|   B|    B|    A|    E|     5|  2.130275| 0.8265067| 1.4674863| 1.1620566| 1.9664022| 0.7219055| 1.2272713|-0.2311491|    O|   6.62711|-0.2661168|-0.2723372|-0.2514189|         0.0|
|10898092|     6612350|      2|         2005|      1992|         K|       K.82|        K.82.0|   F|   ?|   D|   C|   A|   F|   C|   A|   B|    A|    A|    D|     2|-1.4693948|-1.8190382| -1.679599|-1.5441353|-1.7446154|-1.8678329|-1.1688132|-1.3685155|    N|-0.2315299| 2.7836161|-0.2723372|-0.2514189|         0.0|
|  250056|      221139|      2|         2006|      2003|        AQ|      AQ.17|       AQ.17.2|   B|   C|   B|   A|   A|   D|   C|   B|   A|    A|    A|    E|     4|  0.017076| 0.3077724| 0.3336099| 0.2318031| 0.5271934|-0.0231999|-0.7018839| 0.3092558|    M|-0.2315299|-0.2661168|-0.2723372|-0.2514189|         0.0|
+--------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----------+----------+----------+----------+----------+----------+----------+----------+-----+----------+----------+----------+----------+------------+
only showing top 5 rows

###  As the '?' describes the unknown data in each column, lets identify how many columns exists with '?' (NAs)

In [9]:
# Display NA values prior to replacing ?
inputData.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in inputData.columns]).toPandas().transpose()

                   0
Row_ID             0
Household_ID       0
Vehicle            0
Calendar_Year      0
Model_Year         0
Blind_Make         0
Blind_Model        0
Blind_Submodel     0
Cat1               0
Cat2               0
Cat3               0
Cat4               0
Cat5               0
Cat6               0
Cat7               0
Cat8               0
Cat9               0
Cat10              0
Cat11              0
Cat12           2134
OrdCat             0
Var1               0
Var2               0
Var3               0
Var4               0
Var5               0
Var6               0
Var7               0
Var8               0
NVCat              0
NVVar1             0
NVVar2             0
NVVar3             0
NVVar4             0
Claim_Amount       0

In [10]:
inputData.select([count(when(col(c) == "?", c)).alias(c) for c in inputData.columns]).toPandas().transpose()

                     0
Row_ID               0
Household_ID         0
Vehicle              0
Calendar_Year        0
Model_Year           0
Blind_Make         653
Blind_Model        653
Blind_Submodel     653
Cat1              1995
Cat2            369621
Cat3               325
Cat4            426569
Cat5            426969
Cat6              1995
Cat7            543322
Cat8               278
Cat9                 0
Cat10              314
Cat11             2316
Cat12                0
OrdCat             568
Var1                 0
Var2                 0
Var3                 0
Var4                 0
Var5                 0
Var6                 0
Var7                 0
Var8                 0
NVCat                0
NVVar1               0
NVVar2               0
NVVar3               0
NVVar4               0
Claim_Amount         0

### Replace all '?' values in the result data frame as NAs.

In [11]:
for c in inputData.columns:
    inputData = inputData.withColumn(c, when(inputData[c] == "?", float('nan')).otherwise(inputData[c]))

In [12]:
# Display NA values after replacing
inputData.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in inputData.columns]).show()

+------+------------+-------+-------------+----------+----------+-----------+--------------+----+------+----+------+------+----+------+----+----+-----+-----+-----+------+----+----+----+----+----+----+----+----+-----+------+------+------+------+------------+
|Row_ID|Household_ID|Vehicle|Calendar_Year|Model_Year|Blind_Make|Blind_Model|Blind_Submodel|Cat1|  Cat2|Cat3|  Cat4|  Cat5|Cat6|  Cat7|Cat8|Cat9|Cat10|Cat11|Cat12|OrdCat|Var1|Var2|Var3|Var4|Var5|Var6|Var7|Var8|NVCat|NVVar1|NVVar2|NVVar3|NVVar4|Claim_Amount|
+------+------------+-------+-------------+----------+----------+-----------+--------------+----+------+----+------+------+----+------+----+----+-----+-----+-----+------+----+----+----+----+----+----+----+----+-----+------+------+------+------+------------+
|     0|           0|      0|            0|         0|       653|        653|           653|1995|369621| 325|426569|426969|1995|543322| 278|   0|  314| 2316| 2134|   568|   0|   0|   0|   0|   0|   0|   0|   0|    0|     0|     0|     0|     0|           0|
+------+------------+-------+-------------+----------+----------+-----------+--------------+----+------+----+------+------+----+------+----+----+-----+-----+-----+------+----+----+----+----+----+----+----+----+-----+------+------+------+------+------------+

###  Remove all the columns where the no. of rows with '?' exceeds 35% for that column.

In [2]:
#inputData = inputData.drop('Cat2', "Cat4", "Cat5", "Cat7")

### Fill remaining Null Values with Zeroes in the entire dataset, if any.

In [13]:
for c in inputData.columns:
    inputData = inputData.withColumn(c, when(isnan(inputData[c]) | col(c).isNull(), 0).otherwise(inputData[c]))

In [14]:
# Check if na values are replaced
inputData.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in inputData.columns]).show()

+------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----+----+----+----+----+----+----+----+-----+------+------+------+------+------------+
|Row_ID|Household_ID|Vehicle|Calendar_Year|Model_Year|Blind_Make|Blind_Model|Blind_Submodel|Cat1|Cat2|Cat3|Cat4|Cat5|Cat6|Cat7|Cat8|Cat9|Cat10|Cat11|Cat12|OrdCat|Var1|Var2|Var3|Var4|Var5|Var6|Var7|Var8|NVCat|NVVar1|NVVar2|NVVar3|NVVar4|Claim_Amount|
+------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----+----+----+----+----+----+----+----+-----+------+------+------+------+------------+
|     0|           0|      0|            0|         0|         0|          0|             0|   0|   0|   0|   0|   0|   0|   0|   0|   0|    0|    0|    0|     0|   0|   0|   0|   0|   0|   0|   0|   0|    0|     0|     0|     0|     0|           0|
+------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----+----+----+----+----+----+----+----+-----+------+------+------+------+------------+

### Derive a new column Vehicle_age = Current Year - Model year

In [15]:
inputData = inputData.withColumn("Vehicle_age", inputData.Calendar_Year - inputData.Model_Year)

In [16]:
inputData.show(5)

+-----------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----------+----------+----------+----------+----------+----------+----------+----------+-----+----------+----------+----------+----------+------------+-----------+
|     Row_ID|Household_ID|Vehicle|Calendar_Year|Model_Year|Blind_Make|Blind_Model|Blind_Submodel|Cat1|Cat2|Cat3|Cat4|Cat5|Cat6|Cat7|Cat8|Cat9|Cat10|Cat11|Cat12|OrdCat|      Var1|      Var2|      Var3|      Var4|      Var5|      Var6|      Var7|      Var8|NVCat|    NVVar1|    NVVar2|    NVVar3|    NVVar4|Claim_Amount|Vehicle_age|
+-----------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----------+----------+----------+----------+----------+----------+----------+----------+-----+----------+----------+----------+----------+------------+-----------+
|1.1133137E7|   6690958.0|    1.0|       2006.0|    1992.0|        BW|      BW.33|       BW.33.1|   D|   0|   C|   0|   0|   E|   0|   A|   B|    A|    B|    D|     5| 3.4962213|  0.740051| 1.0972409| 1.0774881| 2.7216895| 2.4425492| 1.6081873|-0.1821408|    O|-0.2315299|-0.2661168|-0.2723372|-0.2514189|         0.0|       14.0|
|1.2066135E7|   7022371.0|    2.0|       2005.0|    1995.0|         M|       M.16|        M.16.1|   B|   0|   A|   A|   A|   C|   C|   A|   B|    B|    A|    D|     2|-0.7703518|-1.5077976|-1.0316697|-1.5441353|-0.8822796|-1.4771497|-1.2548265|-0.9952642|    M|-0.2315299|-0.2661168|-0.2723372|-0.2514189|         0.0|       10.0|
|  5738430.0|   3900158.0|    2.0|       2007.0|    2000.0|        AJ|      AJ.58|       AJ.58.2|   D|   C|   A|   0|   0|   D|   0|   A|   B|    B|    A|    E|     5|  2.130275| 0.8265067| 1.4674863| 1.1620566| 1.9664022| 0.7219055| 1.2272713|-0.2311491|    O|   6.62711|-0.2661168|-0.2723372|-0.2514189|         0.0|        7.0|
|1.0898092E7|   6612350.0|    2.0|       2005.0|    1992.0|         K|       K.82|        K.82.0|   F|   0|   D|   C|   A|   F|   C|   A|   B|    A|    A|    D|     2|-1.4693948|-1.8190382| -1.679599|-1.5441353|-1.7446154|-1.8678329|-1.1688132|-1.3685155|    N|-0.2315299| 2.7836161|-0.2723372|-0.2514189|         0.0|       13.0|
|   250056.0|    221139.0|    2.0|       2006.0|    2003.0|        AQ|      AQ.17|       AQ.17.2|   B|   C|   B|   A|   A|   D|   C|   B|   A|    A|    A|    E|     4|  0.017076| 0.3077724| 0.3336099| 0.2318031| 0.5271934|-0.0231999|-0.7018839| 0.3092558|    M|-0.2315299|-0.2661168|-0.2723372|-0.2514189|         0.0|        3.0|
+-----------+------------+-------+-------------+----------+----------+-----------+--------------+----+----+----+----+----+----+----+----+----+-----+-----+-----+------+----------+----------+----------+----------+----------+----------+----------+----------+-----+----------+----------+----------+----------+------------+-----------+
only showing top 5 rows

### Extract all the non-zero target records from the dataset(> 0) into a new dataframe and verify the number of rows.

In [17]:
inputData_non_zero = inputData.filter(inputData.Claim_Amount > 0.0)

In [18]:
inputData_non_zero.count()

7249

In [19]:
### Remove the columns Row_ID, Household_ID and Vehicle from the original dataframe.
inputData_non_zero = inputData_non_zero.drop('Row_ID', 'Household_ID', 'Vehicle')
inputData_non_zero.dtypes

[('Calendar_Year', 'double'),
 ('Model_Year', 'double'),
 ('Blind_Make', 'string'),
 ('Blind_Model', 'string'),
 ('Blind_Submodel', 'string'),
 ('Cat1', 'string'),
 ('Cat2', 'string'),
 ('Cat3', 'string'),
 ('Cat4', 'string'),
 ('Cat5', 'string'),
 ('Cat6', 'string'),
 ('Cat7', 'string'),
 ('Cat8', 'string'),
 ('Cat9', 'string'),
 ('Cat10', 'string'),
 ('Cat11', 'string'),
 ('Cat12', 'string'),
 ('OrdCat', 'string'),
 ('Var1', 'double'),
 ('Var2', 'double'),
 ('Var3', 'double'),
 ('Var4', 'double'),
 ('Var5', 'double'),
 ('Var6', 'double'),
 ('Var7', 'double'),
 ('Var8', 'double'),
 ('NVCat', 'string'),
 ('NVVar1', 'double'),
 ('NVVar2', 'double'),
 ('NVVar3', 'double'),
 ('NVVar4', 'double'),
 ('Claim_Amount', 'double'),
 ('Vehicle_age', 'double')]

In [20]:
def getCorrDetails(inputData):
    dfColumns = ["Column1", "Column2", "Correlation"]
    correlationDF = pd.DataFrame(columns=dfColumns)
    columns1 = [d[0] for d in inputData.dtypes if d[1] != 'string']
    columns2 = [d[0] for d in inputData.dtypes if d[1] != 'string']
    if(len(columns1) > 1):
        for col1 in columns1:
            for col2 in columns2:
                if col1 != col2:
                    corrValue = inputData.stat.corr(col1, col2)
                    tempDF = pd.DataFrame([[col1, col2, corrValue]], columns=dfColumns)
                    correlationDF = correlationDF.append(tempDF)
            columns2.remove(col1)
    correlationDF = correlationDF.sort_values(by = "Correlation", ascending=False) 
    return correlationDF

### Check Correlation of numeric attributes

In [31]:
# Run correlation of numeric columns
print(getCorrDetails(inputData_non_zero))

### Create two new dataframes
1. train_DF, For the data where Calendar_Year = 2005 and 2006
2. test_DF, For the data where Calendar_Year = 2007

### Train & Validation Split for data

In [22]:
train_DF = inputData_non_zero.filter((inputData_non_zero.Calendar_Year != 2007.0))
test_DF = inputData_non_zero.filter((inputData_non_zero.Calendar_Year == 2007.0))

### Drop Calendar_year in train & test as train & test has distinct values

In [25]:
train_DF = train_DF.drop("Calendar_Year")
test_DF = test_DF.drop("Calendar_Year")

In [26]:
train_DF.count()

4644

In [27]:
test_DF.count()

2605

### Separate into Categorical and Continuous attributes.

In [32]:
numColumns = [d[0] for d in train_DF.dtypes if d[1] != 'string']
catColumns = [d[0] for d in train_DF.dtypes if d[1] == 'string']

In [33]:
labelColumn = "Claim_Amount"
numColumns.remove(labelColumn)
print("Numeric Columns : ", numColumns)
print("Categorical Columns : ", catColumns)
print("Target Columns : ", labelColumn)

('Numeric Columns : ', ['Model_Year', 'Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6', 'Var7', 'Var8', 'NVVar1', 'NVVar2', 'NVVar3', 'NVVar4', 'Vehicle_age'])
('Categorical Columns : ', ['Blind_Make', 'Blind_Model', 'Blind_Submodel', 'Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5', 'Cat6', 'Cat7', 'Cat8', 'Cat9', 'Cat10', 'Cat11', 'Cat12', 'OrdCat', 'NVCat'])
('Target Columns : ', 'Claim_Amount')

In [34]:
## Columns with different categories in train & test
for c in catColumns:
    print(c, train_DF.select(c).distinct().count(), test_DF.select(c).distinct().count())

('Blind_Make', 48, 47)
('Blind_Model', 502, 421)
('Blind_Submodel', 875, 681)
('Cat1', 11, 11)
('Cat2', 4, 4)
('Cat3', 7, 6)
('Cat4', 4, 4)
('Cat5', 4, 4)
('Cat6', 6, 6)
('Cat7', 5, 5)
('Cat8', 4, 3)
('Cat9', 2, 2)
('Cat10', 4, 4)
('Cat11', 7, 7)
('Cat12', 6, 6)
('OrdCat', 7, 8)
('NVCat', 15, 15)

### Build Pipeline for pre-processing stages

1. Combine numeric columns into single vector column using vector assembler
2. Scale numeric features using StandardScalr
3. Convert Categorical to numeric using One Hot Encoder, String Indexer and combine them using vector assembler

In [35]:
numAssembler = VectorAssembler(inputCols=numColumns, outputCol="numFeatures")
numScaler = StandardScaler(inputCol="numFeatures", outputCol="numScaled", withMean=True, withStd=True)

In [36]:
catIndexer = [StringIndexer(inputCol=catColumn, outputCol="{0}_Indexed".format(catColumn), handleInvalid="skip") for catColumn in catColumns]
catEncoder = [OneHotEncoder(inputCol=indexer.getOutputCol(), outputCol="{0}_Encoded".format(indexer.getInputCol())) for indexer in catIndexer]
catAssembler = VectorAssembler(inputCols=[encoder.getOutputCol() for encoder in catEncoder], outputCol="catFeatures")

In [37]:
numCatAssembler = VectorAssembler(inputCols=['numScaled', 'catFeatures'], outputCol="features")

In [38]:
preProcessingStages = [numAssembler] + [numScaler] + catIndexer + catEncoder + [catAssembler] + [numCatAssembler]

## Model Building & Evaluation

### Build Linear Regression Model

In [39]:
# Function to evaluation model
evaluator = RegressionEvaluator(labelCol=labelColumn, predictionCol="prediction") 
metricColumns = ["Model", "Data", "R_Square", "RMSE", "MSE"]
modelMetrics = pd.DataFrame(columns=metricColumns)

In [40]:
def getModelMetrics(model, data, dataSetType, modelName, modelMetrics):
    predsAndLabel = model.transform(data).select("prediction", labelColumn)
    r2 = evaluator.evaluate(predsAndLabel, {evaluator.metricName : "r2"})
    rmse = evaluator.evaluate(predsAndLabel, {evaluator.metricName : "rmse"})
    mse = evaluator.evaluate(predsAndLabel, {evaluator.metricName : "mse"})
    tempDF = pd.DataFrame([[modelName, dataSetType, r2, rmse, mse]], columns=metricColumns)
    modelMetrics = modelMetrics.append(tempDF)
    return modelMetrics

In [41]:
lr = regression.LinearRegression(maxIter=10, labelCol=labelColumn, featuresCol="features")
lrPipeline = Pipeline(stages=preProcessingStages + [lr])
lrPipelineModel = lrPipeline.fit(train_DF)

In [42]:
print(getModelMetrics(lrPipelineModel, train_DF, "Train", "LR_Model", modelMetrics))
print(getModelMetrics(lrPipelineModel, test_DF, "Train", "LR_Model", modelMetrics))

      Model   Data  R_Square        RMSE            MSE
0  LR_Model  Train  0.186468  410.993799  168915.902635
      Model   Data  R_Square        RMSE            MSE
0  LR_Model  Train -0.401938  372.488507  138747.687981

### 16. Display the model summary.

In [43]:
lrModelSummary = lrPipelineModel.stages[-1].summary
lrModelSummary.r2

0.1864677745206953

In [44]:
objectiveHistory = lrModelSummary.objectiveHistory
print("objectiveHistory:")
for objective in objectiveHistory:
    print(objective)

objectiveHistory:
0.5
0.421569780567
0.417363411713
0.410537027443
0.409700676214
0.408030391178
0.407609824535
0.407361552439
0.407158795379
0.406861693104
0.40676611274

### Build Decision Tree regressor

In [45]:
dt = regression.DecisionTreeRegressor(maxDepth=6, labelCol=labelColumn,  featuresCol="features")
dtPipeline = Pipeline(stages=preProcessingStages + [dt])
dtPipelineModel = dtPipeline.fit(train_DF)

In [46]:
print(getModelMetrics(dtPipelineModel, train_DF, "Train", "DT_Model", modelMetrics))
print(getModelMetrics(dtPipelineModel, test_DF, "Train", "DT_Model", modelMetrics))

      Model   Data  R_Square        RMSE            MSE
0  DT_Model  Train  0.214941  403.737539  163004.000444
      Model   Data  R_Square        RMSE            MSE
0  DT_Model  Train -0.752854  416.506112  173477.341204

### Build Random Forest Regressor

In [47]:
rf = regression.RandomForestRegressor(numTrees=20, maxDepth=4, seed=42, labelCol=labelColumn, featuresCol="features")
rfPipeline = Pipeline(stages=preProcessingStages + [rf])
rfPipelineModel = rfPipeline.fit(train_DF)

In [48]:
print(getModelMetrics(rfPipelineModel, train_DF, "Train", "RF_Model", modelMetrics))
print(getModelMetrics(rfPipelineModel, test_DF, "Train", "RF_Model", modelMetrics))

      Model   Data  R_Square        RMSE            MSE
0  RF_Model  Train  0.136878  423.334916  179212.451185
      Model   Data  R_Square        RMSE            MSE
0  RF_Model  Train -0.086342  327.892698  107513.621243

### 18. Apply Cross validation technique and tune your models.

### Tuning LR Model

In [50]:
lrPrameterGrid = ParamGridBuilder().addGrid(lr.regParam, [0.1,0.2])\
              .addGrid(lr.elasticNetParam, [0.2, 0.5])\
              .addGrid(lr.maxIter, [10, 15])\
              .build()
lrCrossVal = CrossValidator(estimator=lrPipeline,
                           estimatorParamMaps=lrPrameterGrid,
                           evaluator=evaluator,
                           numFolds=2,
                           parallelism=3)
lrCrossValModel = lrCrossVal.fit(train_DF)

In [52]:
print(getModelMetrics(lrCrossValModel.bestModel, train_DF, "Train", "LR_TUNED", modelMetrics))
print(getModelMetrics(lrCrossValModel.bestModel, test_DF, "Train", "LR_TUNED", modelMetrics))

      Model   Data  R_Square        RMSE           MSE
0  LR_TUNED  Train  0.186397  411.011655  168930.58062
      Model   Data  R_Square        RMSE            MSE
0  LR_TUNED  Train -0.384619  370.180605  137033.680393

In [55]:
print(lrCrossValModel.bestModel.stages[-1].summary.r2)

0.186397082459

### Tuning DT Model

In [56]:
paramGridDT = ParamGridBuilder().addGrid(dt.maxDepth, [4, 6, 8]).build()
dtCrossVal = CrossValidator(estimator=dtPipeline,
                            estimatorParamMaps=paramGridDT,
                            evaluator=evaluator,
                            numFolds=2,
                            parallelism=10) 
dtCrossValModel = dtCrossVal.fit(train_DF)

### 19. Compute both train and test error metrics for all the models.
### 20. Calculate Root Mean Squared Error (RMSE) and R-Square values.

In [57]:
print(getModelMetrics(dtCrossValModel.bestModel, train_DF, "Train", "DT_CV_Best", modelMetrics))
print(getModelMetrics(dtCrossValModel.bestModel, test_DF, "Test", "DT_CV_Best", modelMetrics))

        Model   Data  R_Square        RMSE            MSE
0  DT_CV_Best  Train  0.135341  423.711517  179531.449683
        Model  Data  R_Square        RMSE            MSE
0  DT_CV_Best  Test -0.403867  372.744737  138938.638834